[submodule "antigen/antigen"]
	path = antigen/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "atom/react-devtools"]
	path = atom/react-devtools
	url = https://github.com/facebook/react-devtools.git
