"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    showInvisibles: true
    fontSize: 15
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "/Users/john/git"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "atom-typescript": {}
  "autocomplete-plus": {}
