'atom-text-editor.vim-mode.command-mode':
  'U': 'core:redo'
  'cmd-1': 'tree-view:toggle-focus'
  'cmd-shift-o': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor.vim-mode:not(.insert-mode)':
  'H': 'vim-mode:move-to-first-character-of-line'
  'L': 'vim-mode:move-to-last-character-of-line'

'atom-workspace atom-pane, atom-workspace atom-text-editor:not(.mini)':
  'cmd-k': 'pane:split-right'
  'cmd-l': 'window:focus-pane-on-right'
  'cmd-h': 'window:focus-pane-on-left'

'atom-workspace .tree-view':
  'cmd-n': 'tree-view:add-file'
  'esc': 'window:focus'
