"*":
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 120
    tabLength: 1
    fontSize: 15
    tabType: "soft"
    useShadowDOM: false
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "release"
      "target"
      "build/"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "language-javascript-better"
      "color-tabs"
      "color-tabs-regex"
      "trailing-spaces"
    ]
    projectHome: "/Users/john/git"
    audioBeep: false
    destroyEmptyPanes: false
    openEmptyEditorOnStart: false
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "atom-typescript":
    preferredQuoteCharacter: "'"
    showSemanticView: false
  "autocomplete-plus": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  jumpy:
    fontSize: 0.85
    highContrast: true
  "terminal-status": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui": {}
  "auto-update-packages": {}
  "atom-material-ui":
    altCmdPalette: false
    compactTreeView: true
    depth: true
    panelContrast: true
    rippleAccentColor: true
    showTabIcons: true
    slimScrollbar: true
    tabSize: "Big"
    useRoboto: true
    themeSyle: "Lighter"
  linter: {}
  preview: {}
  "webbox-color":
    fillColorAsBackground: false
  "atom-jshint": {}
  "color-picker":
    automaticReplace: true
  "color-tabs": {}
  docblockr: {}
  esformatter: {}
  jsformat: {}
  minimap:
    displayMinimapOnLeft: true
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  semanticolor:
    affectedSourceObjects: {}
  "git-plus": {}
  "git-go":
    forceKillShortcut: "Escape"
  "git-log": {}
  "todo-show": {}
  "color-tabs-regex":
    breakAfterFirstMatch: true
  "trailing-spaces":
    enableForCursorLines: true
  "sync-settings": {}
  "recent-files-fuzzy-finder": {}
  "fuzzy-finder": {}
  "clipboard-plus":
    maximumLinesNumber: 0
  atomatigit: {}
  "local-history": {}
  "disable-keybindings": {}
  "exception-reporting":
    userId: "ba91f39e-1537-6aa8-ca06-8feb508e989c"
  "gist-it":
    userToken: "9fab33fcc021d8153f13689fc07c08cf094a0b7f"
    newGistsDefaultToPrivate: true
  "markdown-preview": {}
  "git-projects":
    rootPath: "~/git"
    sortBy: "Latest modification date"
".source.ts.tsx":
  editor:
    preferredLineLength: 120
".source.tsx":
  editor:
    preferredLineLength: 120
".source.ts":
  editor:
    tabLength: 4
    preferredLineLength: 120
".js.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 140
    autoIndent: true
    showInvisibles: false
    showIndentGuide: false
